## El crecimiento de la tasa de criminalidad en las principales ciudades de España no es por causa de los inmigrantes.

### preguntas de investigación
1. ¿Han aumentado los crímenes?
2. ¿Cuál es la nacionalidad de los condenados por crímenes?
3. ¿En que se ocupan los migrantes?
4. ¿Beneficio de la migracion? 
5. ¿Qué trabajos hacen los inmigrantes?
6. ¿Qué porcentaje de la población, latina y extranjera, han realizado crímenes?

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
activos = pd.read_csv("../datos/activos_nacionalidad_sexo_edad.csv")
empleo = pd.read_csv("../datos/tasa_empleo_nacionalidad_sexo.csv")
delitos = pd.read_csv("../datos/delitos_nacionalidad.csv")
condenados = pd.read_csv("../datos/condenados_sexo_nacionalidad_numero_delitos.csv")
ocupados = pd.read_csv("../datos/ocupados_nacionalidad_sector.csv")
poblacion = pd.read_csv("../datos/poblacion_pais_nacimiento.csv")
salario = pd.read_csv("../datos/salarios_jornada_nacionalidad_decil.csv")
delito_sexual = pd.read_csv("../datos/delitos_sexuales_nacionalidad.csv",sep= ';')
paro = pd.read_csv("../datos/paro_por_nacionalidad.csv",sep= ';')
no_estudia_ni_trabaja = pd.read_csv("../datos/no_estudian_ni_trabajan_por_nacionalidad.csv",sep= ';')
riesgo_pobreza = pd.read_csv("../datos/riesgo_de_pobreza_nacionalidad.csv",sep= ';')

In [27]:
riesgo_pobreza

                    Nacionalidad  periodo Total
0                          Total     2023  18,6
1                          Total     2022  19,1
2                          Total     2021  21,5
3                          Total     2020  20,5
4                          Total     2019  23,6
..                           ...      ...   ...
59  Extranjera (resto del mundo)     2012  56,3
60  Extranjera (resto del mundo)     2011  51,4
61  Extranjera (resto del mundo)     2010  43,2
62  Extranjera (resto del mundo)     2009  40,3
63  Extranjera (resto del mundo)     2008  44,3

[64 rows x 3 columns]

In [25]:
delito_sexual

                            Delitos Faltas Nacionalidad  Periodo  Total
0                                A Delitos        Total     2021    609
1                                A Delitos        Total     2020    477
2                                A Delitos        Total     2019    548
3                                A Delitos        Total     2018    408
4                                A Delitos        Total     2017    332
..                                     ...          ...      ...    ...
145  8.5 Prostitución y corrupción menores   Extranjera     2021     14
146  8.5 Prostitución y corrupción menores   Extranjera     2020      6
147  8.5 Prostitución y corrupción menores   Extranjera     2019      6
148  8.5 Prostitución y corrupción menores   Extranjera     2018      2
149  8.5 Prostitución y corrupción menores   Extranjera     2017      1

[150 rows x 4 columns]

In [26]:
activos

,Sexo,Edad,Nacionalidad,Periodo,Total
0,Ambos sexos,Total,Total,2024,"24.424,6"
1,Ambos sexos,Total,Total,2023,"24.119,7"
2,Ambos sexos,Total,Total,2022,"23.626,7"
3,Ambos sexos,Total,Total,2021,"23.309,9"
4,Ambos sexos,Total,Total,2020,"22.733,3"
...,...,...,...,...,...
2731,Mujeres,55 y más años,Extranjera: Resto del mundo y apátrida,2010,"9,4"
2732,Mujeres,55 y más años,Extranjera: Resto del mundo y apátrida,2009,"7,9"
2733,Mujeres,55 y más años,Extranjera: Resto del mundo y apátrida,2008,"4,8"
2734,Mujeres,55 y más años,Extranjera: Resto del mundo y apátrida,2007,"2,3"
2735,Mujeres,55 y más años,Extranjera: Resto del mundo y apátrida,2006,"1,5"