In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
activos = pd.read_csv("../datos/activos_nacionalidad_sexo_edad.csv")
empleo = pd.read_csv("../datos/tasa_de_empleo_anual.csv",sep= ';')
delitos = pd.read_csv("../datos/delitos_nacionalidad.csv")
condenados = pd.read_csv("../datos/condenados_sexo_nacionalidad_numero_delitos.csv")
ocupados = pd.read_csv("../datos/ocupados_nacionalidad_sector.csv")
poblacion = pd.read_csv("../datos/poblacion_pais_nacimiento.csv")
salario = pd.read_csv("../datos/salarios_jornada_nacionalidad_decil.csv")
delito_sexual = pd.read_csv("../datos/delitos_sexuales_nacionalidad.csv",sep= ';')
paro = pd.read_csv("../datos/paro_por_nacionalidad.csv",sep= ';')
no_estudia_ni_trabaja = pd.read_csv("../datos/no_estudian_ni_trabajan_por_nacionalidad.csv",sep= ';')
riesgo_pobreza = pd.read_csv("../datos/riesgo_de_pobreza_nacionalidad.csv",sep= ';')

In [13]:
def clean_numeric_column(series):
    return pd.to_numeric(series.astype(str).str.replace('.', '', regex=False).str.replace(',', '.', regex=False), errors='coerce')

for df in [activos, empleo, delitos, condenados, ocupados, poblacion, salario,delito_sexual,paro,no_estudia_ni_trabaja,riesgo_pobreza]:
    df.columns = df.columns.str.replace(r'^\ufeff', '', regex=True)
    if 'Total' in df.columns:
        df['Total'] = clean_numeric_column(df['Total'])

In [14]:
empleo

                     Nacionalidad  Periodo  Total
0                           Total     2024  71.37
1                           Total     2023  70.55
2                           Total     2022  69.30
3                           Total     2021  67.48
4                           Total     2020  65.73
5                           Total     2019  68.03
6                           Total     2018  67.01
7                           Total     2017  65.55
8                           Total     2016  63.87
9                           Total     2015  61.97
10  Española y doble nacionalidad     2024  72.44
11  Española y doble nacionalidad     2023  71.51
12  Española y doble nacionalidad     2022  70.28
13  Española y doble nacionalidad     2021  68.51
14  Española y doble nacionalidad     2020  66.92
15  Española y doble nacionalidad     2019  68.68
16  Española y doble nacionalidad     2018  67.60
17  Española y doble nacionalidad     2017  66.02
18  Española y doble nacionalidad     2016  64.36
19  Española y doble nacionalidad     2015  62.54
20               Extranjera UE-27     2024  73.60
21               Extranjera UE-27     2023  72.49
22               Extranjera UE-27     2022  69.35
23               Extranjera UE-27     2021  66.05
24               Extranjera UE-27     2020  64.84
25               Extranjera UE-27     2019  71.63
26               Extranjera UE-27     2018  68.47
27               Extranjera UE-27     2017  66.69
28               Extranjera UE-27     2016  65.08
29               Extranjera UE-27     2015  63.67
30               Extranjera resto     2024  63.19
31               Extranjera resto     2023  62.83
32               Extranjera resto     2022  61.23
33               Extranjera resto     2021  58.05
34               Extranjera resto     2020  55.17
35               Extranjera resto     2019  59.75
36               Extranjera resto     2018  59.84
37               Extranjera resto     2017  59.53
38               Extranjera resto     2016  57.51
39               Extranjera resto     2015  54.73

In [7]:
delitos

,Tipo de Delito: Nivel 1,Tipo de Delito: Nivel 2,Tipo de Delito: Nivel 3,Tipo de Delito: Nivel 4,Nacionalidad,Periodo,Total
0,A Delitos,NaN,NaN,NaN,Total,2023,403194.0
1,A Delitos,NaN,NaN,NaN,Total,2022,426416.0
2,A Delitos,NaN,NaN,NaN,Total,2021,410842.0
3,A Delitos,NaN,NaN,NaN,Total,2020,311271.0
4,A Delitos,NaN,NaN,NaN,Total,2019,412571.0
...,...,...,...,...,...,...,...
6705,A Delitos,R Resto de delitos,NaN,NaN,De Oceanía,2017,0.0
6706,A Delitos,R Resto de delitos,NaN,NaN,De Oceanía,2016,0.0
6707,A Delitos,R Resto de delitos,NaN,NaN,De Oceanía,2015,10.0
6708,A Delitos,R Resto de delitos,NaN,NaN,De Oceanía,2014,0.0
6709,A Delitos,R Resto de delitos,NaN,NaN,De Oceanía,2013,10.0

In [8]:
ocupados

,Sexo,Sector económico,Nacionalidad,Periodo,Total
0,Ambos sexos,Total,Total,2023,21005.5
1,Ambos sexos,Total,Total,2022,20390.6
2,Ambos sexos,Total,Total,2021,19773.6
3,Ambos sexos,Total,Española,2023,17166.9
4,Ambos sexos,Total,Española,2022,16948.5
...,...,...,...,...,...
355,Mujeres,Servicios,Extranjera: América Latina,2022,485.4
356,Mujeres,Servicios,Extranjera: América Latina,2021,448.6
357,Mujeres,Servicios,Extranjera: Resto del mundo y apátrida,2023,197.9
358,Mujeres,Servicios,Extranjera: Resto del mundo y apátrida,2022,168.8
359,Mujeres,Servicios,Extranjera: Resto del mundo y apátrida,2021,153.8